.single-container{
    display: flex;
    align-items: center; 
    justify-content: center;
    gap: 3rem;
    flex-wrap: nowrap;
   
    
}
.simg-container{
    width: 20%;
    
}
.simg-container img{
  width: 80%;

}
.single-name{
    font-size:2rem;
    font-weight: 400;
    letter-spacing: 1px;
    word-spacing: 0.1rem;
    font-family: 'Poppins', sans-serif;

}
.single-rating{
    display: flex;
    align-items: center;
    gap: 1rem;
    
}
.img-name-container{
   display: flex;
   flex-direction: column;
   gap:1rem;
   width: 45%;
   position: relative;
}
.single-right-div{
    display: flex;
    flex-direction: column;
    border: 1px solid gray;
    font-size: 1.2rem;
    width: 20%;
    gap: 1.5rem;
    padding: 1rem;
    border-radius: 0.5rem;
}
.single-price{
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 2rem;
}
.single-date{
    font-weight: 500;
}
.inside-box-button{
    font-size: 1.1rem;
    font-weight: 500;
   padding: 0.6rem ;
  border: none;
  border-radius: 0.4rem;
  height:2.8rem;
  text-align: center;
  background-color:  rgb(246, 213, 46);
}
.outside-box-button{
    font-size: 1.1rem;
    font-weight: 500;
   padding: 0.6rem ;
  border: none;
  border-radius: 0.4rem;
  height:2.8rem;
  text-align: center;
}
.single-rating-count{
    font-size: 1.3rem;
    font-weight: 500;
}
.image-container{
   display: grid;
   grid-template-columns: repeat(7,1fr);
   gap: 1rem;
}
.image-container .single-img{
    width: 50%;
}
.img-text{
    font-size: 0.9rem;
    text-align: center;
    color: #007185;
}
.sigle-imgle-container{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    gap: 0.5rem;
}
.single-main-box{
    display: flex;
    height: 90vh;
    align-items: center;
}
.amazon-choice-button{
  padding: 0.3rem 0.5rem;  
  background-color: black;
  color: white;
  border: none;
  border-radius: 0.3rem;
  font-size: 0.9rem;
}
.amazon-choice{
    display: flex;
    gap: 0.5rem;
    align-items: center;
    font-size: 1rem;
}
.name{
    
    color: #007185;
}.name1{
    color: #F69931;
}
.deal-day{
    padding: 0.3rem 0.5rem;
    background-color: red;
    color: white;
    border: none;
    border-radius: 0.3rem;
}
.img-icon{
    width: 1rem;
}

.Fulfilled-button{
    padding: 0.3rem 0.5rem;  
    background-color: black;
    color: white;
    border: none;
    border-radius: 0.3rem;
    font-size: 0.9rem;
    display: flex   ;
    align-items: start;
    gap: 0.4rem;
    letter-spacing:1.1px ;
    font-weight: 500;
    
}
.stock{
    color: #007600;
}
.about-heading{
    color: #007185;
    padding-bottom: 0.5rem;
}
.about-content{
    font-size: 1rem;
    padding-bottom: 0.2rem;
}
.single-symbol-icon{
    font-size: 1.4rem;
    color: #007185;
    padding-right:1px;
    padding-bottom: 0.2rem;
}
.single-absolute{
    position: absolute;
    left:-15%;
    top:0.5rem;
    border: 1px solid rgb(194, 193, 193);
    padding: 0.6rem;
    border-radius: 1.9rem;
    display: flex;
}
.lock-icon{
    width: 2rem;
    height: 1.4rem;
}
.paragraph-div{
    display: flex;
    align-items: center;
}