
a{
    text-decoration: none;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    background-color: rgb(19, 25, 33);
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    height: 5rem;
    z-index: 2;
}
.left-header .logo{
    display: inline;
    padding: 1.7rem 0.2rem 0 0.2rem ;
    text-decoration: none;
    text-align: center;
    border: 1px solid rgb(11, 11, 11);
}
.left-header .logo:hover{
    border: 1px solid white;
}
.left-header .main-logo{
    padding-top: 0.9rem;
    width: 7rem;
}
.middle-header{
    flex: 1;
    max-width: 48rem;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.middle-header .search-input{
    flex: 1;
    height: 2.7rem;
    width: 100%;
    padding: 0 1rem;
    font-size: 1.3rem;
    border: none;
    outline: none;
    border-top-left-radius: 0.3rem;
    border-bottom-left-radius: 0.3rem;
    
} 
.middle-header .search-bar{
  background-color: rgb(254, 189, 105);
  border: none;
  width: 2.5rem;
  height: 2.7rem;
  border-top-right-radius: 0.3rem;
  border-bottom-right-radius: 0.3rem;
  flex-shrink: 0;
}
.middle-header .img{
    height: 1.4rem;
}
.right-header{
    display: flex;
    justify-content: center;
    align-items: center;

}
.right-header .return{
    padding: 0.3rem 1rem 0.3rem 1rem ;
    color: white;
    
    
}
.right-header .return:hover{
    border: 1px solid white;
}
.right-header.return-text {
    display: block;
    font-size: 1.3rem;
  }
  
.right-header .order-text {
    display: block;
    font-size: 1.3rem;
    font-weight: 700;
  }
.right-header .cart{
    padding: 0.2rem 1rem 0.2rem 1rem ;
    color: white;
    display: flex;
    align-items: center;
    position: relative;   
}
.right-header .cart:hover{
    border: 1px solid white;
}
.right-header .cart .img{
    width: 3.5rem;
}
.right-header .cart .cart-text{
    font-size: 1.3rem;
    font-weight: 700;
}
.right-header .cart .cart-quantity{
  color: rgb(240, 136, 4);
  font-size: 1.3rem;
  font-weight: 700;
  position: absolute;
  top:0.3rem;
  left:2.6rem;
}